<div class="container">
    <div class="info-car">
        <h2>
            Найбільший автомобіль у світі
        </h2>
        <img src="../../assets/photoCar/images.jpeg" alt="БелАЗ-75710">
        <p>
            Найбільший автомобіль в світі був розроблений і створений в Білорусії, на автомобільному заводі важкої спецтехніки ВАТ "БелАЗ" і називається наш кар'єрний самоскид (а саме для кар'єрів він і був виготовлений) БелАЗ-75710.
            Конструктори автомобільного заводу змогли зробити дійсно колосальний прорив у виготовленні кар'єрної техніки, завдяки технічним інноваціям вони домоглися першості в вантажопідйомності і переступили зарубіжних конкурентів. Максимальна маса вантажу, яку БелАЗ бере на борт складає 450 тонн.
            Ну а тепер трошки про технічні характеристики нашого гіганта-рекордсмена. Маса автомобіля становить цілих 810 тонн, а максимальна швидкість, яку розвиває самоскид - 64 кілометри на годину.
            Привід на колеса передається через електромотори, які в свою чергу підживлюють два дизельних генератора. В цілому потужність автомобіля становить 4600 к.с., і завдяки цьому наш рекордсмен потрапив в книгу Гіннеса ще і як найпотужніший автомобіль в світі.
        </p>
        <span>
            Ціна такого автомобіля: {{price | currency}}
         </span>
    </div>
    <div class="video">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/us1RhZEZqa8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
</div>
