<div class="container">
    <div class="info-plane">
        <h2>
            Найбільший літак у світі Ан -225 «Мрія»
        </h2>
        <img>
        <p>
            Ан-225 був створений, перш за все, для потреб радянської космічної програми, для транспортування вантажів, зокрема космічних кораблів багаторазового використання «Буран» і компонентів ракетної системи «Енергія». Літак може перевозити також великогабаритні вантажі іншого призначення, які можуть розміщуватись як у фюзеляжі, так і «на спині». Мета створення Ан-225 була подібною до мети створення американського Boeing 747SCA — літака для транспортування космічних човників.
            Розробка літака почалася в 1985 році й тривала рекордно короткий час — 3,5 року, що стало можливим завдяки широкій уніфікації його вузлів і агрегатів із вузлами та агрегатами літака Ан-124, який служив основою для нього. 21 грудня 1988 року легендарний український літак Ан-225 «Мрія» виконав свій перший політ.[2] Головний конструктор — Віктор Ілліч Толмачов, загальне керівництво усіма процесами розробки здійснював генеральний конструктор Петро Балабуєв[3], провідним конструктором був Анатолій Вовнянко[3].<br>
            Знищений був під час повномаштабного вторгнення <span class="animals">росії </span> в Україну {{ year | date}}.
        </p>
    </div>
</div>
