<div class="box"> 
  <a routerLink="/">
      <button routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" >
          Home 
      </button>
  </a>
  <img class="man" src="../assets/photoFirst/images (2).jpeg">
  <a routerLink="Bill Gates">
      <button routerLinkActive="active">
          Bill Gates
      </button>
  </a>
  <a routerLink="Hobby">
      <button routerLinkActive="active">
          Hobby
      </button>
  </a>
  <a routerLink="Resume">
      <button routerLinkActive="active" >
          Resume
      </button>
  </a>
</div>
<router-outlet></router-outlet>
<footer>
  <div class="foot">
      <ul>
          <li>
              Number: +38066 555 55 55 
          </li>
          <li>
              Email: Molodoi@gmail.com
          </li>
          <li>
              City: Chernivtsi
          </li>
          <li>
              Adress: str. Heroes of the Maidan, 36.
          </li>
      </ul>
  </div>
</footer>





