<div class="box"> 
    
  <a href="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <button>
          Home 
      </button>
  </a>
  <img class="man" src="../assets/photoFirst/images (2).jpeg">
  <a href="Bill Gates" routerLinkActive="active">
      <button>
          Bill Gates
      </button>
  </a>
  <a href="Hobby" routerLinkActive="active">
      <button>
          Hobby
      </button>
  </a>
  <a href="Resume" routerLinkActive="active" >
      <button>
          Resume
      </button>
  </a>
</div>
<router-outlet></router-outlet>
<footer>
  <div class="foot">
      <ul>
          <li>
              Number: +38066 555 55 55 
          </li>
          <li>
              Email: Molodoi@gmail.com
          </li>
          <li>
              City: Chernivtsi
          </li>
          <li>
              Adress: str. Heroes of the Maidan, 36.
          </li>
      </ul>
  </div>
</footer>





