<h1>Home page</h1>

<div class="box">
    <!-- <input type="text" name="calc">
    <input type="text" name="calc" #input1 (keyup.enter)="result = input1.value">
    <span>
        {{ result }}
    </span> -->

    <input type="text" name="calc" #input1 (keyup.enter)="plus(input1.value, input2.value)">
    <input type="text" name="calc" #input2 (keyup.enter)="plus(input1.value, input2.value)">
    <br>
    <button (click)= "plus(input1.value, input2.value)">+</button>
    <button (click)= "minus(input1.value, input2.value)">-</button>
    <button (click)= "multiplication(input1.value, input2.value)">*</button>
    <button (click)= "division(input1.value, input2.value)">/</button>
    <br>
    <div class="span">
        <span>Результат: {{result}}</span>
    </div>
    <div>
        <h2>
            My list
        </h2>
        <ul class="items">
            <li *ngFor="let item of items">
                {{ item.name }}
            </li>
        </ul>
    </div>
    <div *ngIf="items.length > 0">
        {{items.length == 1? 'item' : 'items'}}
    </div>
    <app-switch></app-switch>
</div>